@font-face {
    font-family: 'Barlow';
    src: url('../Fonts/Barlow-Regular.woff2') format('woff2'),
        url('../Fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    font-family: Barlow;
}


.nav-bg {
    background-color: #0c0e49;
    border-bottom: 1px solid #6D7173;
}

.navbar-collapse {
    flex-grow: .8 !important;
}

ul>li>a {
    color: #FAFDFA !important;
    transition: ease .2s !important;
    display: inline-block !important;
}
ul>li>a:hover{
    transform: scale(1.05);
}

.dashboard-date-time>div>img {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
}

.dashboard-date-time {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.make-center{
    margin-top: 8% !important;
}
.custem-margin{
    margin-bottom: 15%;
}
.main-color{
    color: #0c0e49;
}
.secondery-color{
    color: #7c8ac9 !important;
}
.back-img{
    background-image: url(../images/back.png);
    background-size: cover;
}

.img-container{
    border: 3px solid #0c0e49;
    border-radius: 100%;
    padding: 15%;
}

@media screen and (min-width: 768px){
    .img-container{
        padding: 8%
    }
}
.navbar-toggler:focus{
    box-shadow: none !important;
}